<!doctype html>
<html lang="ja">

<head>
    <title>柿ピー日記</title>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <p>{{ sayHi() }}</p>
        <h1>柿ピーの日記へようこそ</h1>
        <p>メッセージを残してください！</p>
        <ul>
            <li v-for="item in items">
                {{ item }}
            </li>
        </ul>
        <form v-on:submit.prevent = "addItem(input)">
            <input type="text" v-model="input">
            <button type="submit">追加</button>
        </form>

        <p>{{ "私の名前は" + message + "です"}}</p>
        <input type="text" v-model="message">

        <p>{{ "大文字：" + upperMessage }}</p>
    </div>
   
    <script src="kakino011.js"></script>
</body>

