<% extends "base.html" %> <% block content %>
<v-container>
  <v-card>
    <v-card-title>1日の始まり！表情分析</v-card-title>
    <v-card-text>
      <v-btn v-on:click="startCamera">カメラを起動</v-btn>
      カメラで撮影し、分析する顔を更新することが出来ます。
    </v-card-text>
    <v-divider></v-divider>
    <v-card-text>
      <v-btn v-on:click="predEmotion">表情を分析</v-btn>
    </v-card-text>
  </v-card>

  <% if filepath %>
  <img src="./images/<< filepath >>"></img>
  <p><< filepath >></p>
  <% endif %>

  <% if predict %>
  <v-card>
    <v-card-text>
        <v-list>
            <v-list-item>
                <v-list-item-content>良くない</v-list-item-content>
                <v-list-item-content class="align-end"><< predict.bad >></v-list-item-content>
            </v-list-item>
            <v-list-item>
                <v-list-item-content>良い</v-list-item-content>
                <v-list-item-content class="align-end"><< predict.happy >></v-list-item-content>
            </v-list-item>
        </v-list>
    </v-card-text>
    <v-card-title>
      <p v-if="<< predict.bad >> > <<predict.happy>>">
        大丈夫、やればできる！怪我や事故には気をつけて！
      </p>
      <p v-if="<< predict.bad >> < <<predict.happy>>">
        ウキウキですね！油断大敵、今日も頑張りましょう！
      </p>
    </v-card-title>
  </v-card>
  <% endif %>
</v-container>

<% endblock %>
