<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">

    <!-- Vue.js のインポート -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->

    <title>Dog or Cat ?</title>
</head>

<br>
<div style="text-align:center;">
<font size="7">
<header><b>Dog & Cat Classifier</b></header>
</font>
</div>

<body>
    {% block content %}{% endblock %}
</body>

</html>