<!-- app.py で Customize Directive -->
<!-- https://www.subarunari.com/entry/2017/09/30/003944 -->
<% extends "base.html" %> <% block content %>

<div class="index">
  <p>ファイルを選択して送信してください</p>
  <hr />

  <form action="./" method="POST" enctype="multipart/form-data">
    <input type="file" name="image" accept="image/png, image/jpeg" />
    <input type="submit" />
  </form>
  <hr />

  <!-- Vue.js デモ -->
  <!-- 011_v-on?1.html 参照 -->
  <div id="app" class="app">
    <p>{{ number }}回クリックされています</p>
    <button v-on:click="number +=1">カウントアップ</button>
    <p v-if="number>=10 && number<20">10回もクリックどうもありがとう！</p>
    <p v-else-if="number>=20 && number<50">20回も？疲れない？</p>
    <p v-else-if="number>=50">熱中する心、いくつになっても忘れたくないね！</p>
    <p v-else>クリックするといいことあるよ！</p>
  </div>

  <script>
    new Vue({
      el: '#app', // # で id と関係づける
      data: {
        number: 0,
      },
    });
  </script>
  <!-- Vue.js デモ終わり -->

  <% if prediction %>
  <div class="predict-top">
    <hr />
    <img
      src="./images/<< filepath >>"
      style="margin-top: 10px; vertical-align: bottom; width: 300px;"
    /><br />
    <hr />
    <div class="predict-result"><b>予測結果: << prediction >></b><br /></div>
    <div class="predict-content">
      File: << filepath >><br />
      <!-- Save path: {{ save_path }}<br> -->
      Dog: << dog >><br />
      Cat: << cat >><br />
    </div>
    <hr />
  </div>

  <div id="vue_test">
    犬っぽさ： {{ dog }}<br />
    猫っぽさ： {{ cat }}<br />
    結果：　{{ prediction }}
    <div v-if="prediction==='cat'">この子は、ねこちゃんです</div>
    <div v-if="prediction==='dog'">この子は、わんちゃんです</div>
  </div>

  <div id="survey">
    <button class="button1" v-on:click="onClickCorrect()">合っています</button>
    <button class="button1" v-on:click="onClickMistake()">違います</button>
  </div>

  <script>
    // 複数Vueインスタンスを作るのが面倒なので、forEachで２つのdivのIDをelに入れる。
    // Vueインスタンスのelには、IDを一つしかいれられない
    const items = ['#vue_test', '#survey'];
    items.forEach((element) => {
      var mvp10_test = new Vue({
        el: element,
        data: {
          dog: '<< dog >>',
          cat: '<< cat >>',
          prediction: '<< prediction >>',
        },
        methods: {
          onClickCorrect: function () {
            alert('良かった！次もがんばります。');
          },
          onClickMistake: function () {
            alert('すみません。');
          },
        },
      });
    });
  </script>
  <hr />
  <% endif %> <% if results %>
  <div class="results">
    <br />
    <font size="2">
      <table border="1" align="center" width="600">
        <tr>
          <th>id</th>
          <th>filepath</th>
          <th>prediction</th>
          <th>dog</th>
          <th>cat</th>
        </tr>
        <% for result in results %>
        <tr>
          <td><< result.id >></td>
          <td><< result.filepath >></td>
          <td><< result.prediction >></td>
          <td><< result.dog >></td>
          <td><< result.cat >></td>
        </tr>
        <% endfor %>
      </table>
    </font>
    <br />
  </div>
  <hr />

  <% endif %>
</div>

<% endblock %>
