{% extends "base.html" %}

{% block content %}

<center>

<font size="5">
経度: {{ latitude }}, 緯度: {{ longitude }}<br>
場所: {{ name }}<br>
</font>
<br>

<!-- index に戻るボタン -->
<form action="/draw_map" method="post">
    <button name="post_button" style="width: 25%; padding: 4px;"><b>戻る</b></button>
</form>
<br>
<form method="get" action="memo_get">
    <label>場所の名前　<input type="text" name="placeName" value="{{ name }}"></label>
    <input type="submit" value="お気に入りの場所に登録する">
</form>
<br>

</center>

{% include "map.html" %}

{% endblock %}