<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1587f9d3a259445c92294f67fdbf0c5a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_1587f9d3a259445c92294f67fdbf0c5a" ></div>
        
</body>
<script>    
    
            var map_1587f9d3a259445c92294f67fdbf0c5a = L.map(
                "map_1587f9d3a259445c92294f67fdbf0c5a",
                {
                    center: [35.710063, 139.8107],
                    crs: L.CRS.EPSG3857,
                    zoom: 18,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f22693c8e5e9450b84fd2b53561ae423 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_1587f9d3a259445c92294f67fdbf0c5a);
        
    
            var marker_f9b426375c0446ab92d7fdd3ac96ec3f = L.marker(
                [35.710063, 139.8107],
                {}
            ).addTo(map_1587f9d3a259445c92294f67fdbf0c5a);
        
    
        var popup_23af6d0942b0430886318fcdc793b7e1 = L.popup({"maxWidth": "100%"});

        
            var html_881f75faea9a40429a060d8e2bc09c7a = $(`<div id="html_881f75faea9a40429a060d8e2bc09c7a" style="width: 100.0%; height: 100.0%;">東京スカイツリー</div>`)[0];
            popup_23af6d0942b0430886318fcdc793b7e1.setContent(html_881f75faea9a40429a060d8e2bc09c7a);
        

        marker_f9b426375c0446ab92d7fdd3ac96ec3f.bindPopup(popup_23af6d0942b0430886318fcdc793b7e1)
        ;

        
    
</script>