{% extends "base.html" %}
{% block content %}

<div style="text-align:center;">
<font size="5">
ファイルとグラフの種類を選択して送信してください
</font>
<hr>

<form action = "./" method = "POST" enctype = "multipart/form-data">
    <input type="file" name="csv" accept="csv">
    <input type = "submit" value="送信">
</form>
<form action="" method="POST"></form>
</div>

{% if err_message_1 %}
<hr>
<center><font size="6" color=red><b>{{ err_message_1 }}</b></font></center>
<hr>
{% endif %}


{% if filepath %}
<center>
<hr>
<font size="3">{{ csv }}</font>
<hr>
<font size="6">sns pairplot<br></font>
<img src="{{ filepath }}" style="margin-top: 10px; vertical-align: bottom; width: 700px"><br>
<hr>
</center>
{% endif %}

{% endblock %}