{% extends "base.html" %}
{% block content %}

<div style="text-align:center;">
<font size="5">
ファイルを選択して送信してください
</font>
<hr>

<form action = "./" method = "POST" enctype = "multipart/form-data">
    <label>csv: </label>
    <input type="file" name="csv" accept="csv"><br><br>
    <label>year: </label>
    <input class="form-control" type="text" size="10" name="year" value="2020"><br><br>
    <label>month: </label>
    <input class="form-control" type="text" size="10" name="month" value="10"><br><br>
    <input type="radio" name="whole">
    <label>whole_period</label><br><br>
    <input type = "submit" value="送信">
</form>
<form action="" method="POST"></form>
</div>

{% if err_message_1 %}
<hr>
<center><font size="6" color=red><b>{{ err_message_1 }}</b></font></center>
<hr>
{% endif %}


{% if filepath %}
<center>
<hr>
<font size="3">{{ csv }}</font>
<hr>
<font size="6">異業種データサイエンス研究会　メンバー合計数<br></font>
<img src="{{ filepath }}" style="margin-top: 10px; vertical-align: bottom; width: 700px"><br>
<hr>
</center>
{% endif %}

{% endblock %}