<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons"
      rel="stylesheet"
    />

    <!-- Vuetifyのインポート -->
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css"
      rel="stylesheet"
    />

    <!-- Vue.js のインポート -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <title>表情認識</title>
  </head>

  <body>
    <div id="app">
      <% block content %><% endblock %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <!-- app.py で Customize Directive -->
    <!-- https://www.subarunari.com/entry/2017/09/30/003944 -->

    <script>
    new Vue({
        el: '#app',
        data: function () {
          return {
            message: '',
            emotion: '',
            response: '',
            bad: 0,
            happy: 0,
          };
        },
        methods: {
          startCamera: function () {
            fetch('/start-camera', {
              mode: 'cors',
              credentials: 'include'
            })
              .then((response) => {
                console.log(response);
                this.message = response.message;
              })
              .catch((err) => console.log(err));
          },
          predEmotion: function () {
            fetch('/pred-emotion')
              .then(
                  response => {
                      console.log(response)
                      this.bad=response.bad
                      this.happy=response.happy
                    },
                  location.href="/pred-emotion",
                )
              .catch(err => console.log(err));
          },
          saveEmotion: function() {
            const param = {
              method: "POST",
              headers: {
                "Content-Type": "application/json; charset=utf-8"
              },
              body: JSON.stringify(predict.bad, predict.happy)
            }
            fetch('/save-emotion', param)
              .then(
                response => {
                  console.log(response)
                },
              )
              .catch(err => console.log(err));
          }
        },
      });
    </script>
  </body>
</html>
