<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 画像がキャッシュされないように設定 -->
    <!-- http://nopnop2002.webcrow.jp/flask_python/flask_python-6.html -->
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <link rel="stylesheet" href="/static/style.css">
    <title>Graph</title>
</head>

<br>
<div style="text-align:center;">
<font size="7">
<header><b>Graph</b></header>
</font>
</div>

<body>
    {% block content %}{% endblock %}
</body>

</html>