{% extends "base.html" %}
{% block content %}

<div style="text-align:center;">
<font size="4">
    Please input URL and choose the mask.
</font>
<hr>

<form action="./" method="post" enctype = "multipart/form-data">
    <font size="4">
    <label>URL: </label>
    <input class="form-control" type="text" size="80" name="url" 
            value="https://ameblo.jp/ske48official/entry-12630453523.html?adxarea=kwkzc"><br>
    <label>mask: </label>
    <select name="mask">
        <option value="none">none</option>
        <option value="heart">heart</option>
        <option value="cat">cat</option>
    </select>
    </font><BR>
    <input class="btn btn-primary" type="submit" value="送信">
</form>

{% if response %}
<hr>
<p>総合magnitude: {{ response["documentSentiment"]["magnitude"] }}</p>
<p>総合score: {{ response["documentSentiment"]["score"] }}</p>
<hr>
{% endif %}

{% if text %}
<p>{{ text }}</p>
<hr>
{% endif %}

{% if filepath %}
<font size="3">URL: {{url}}<br></font>
<img src="{{ filepath }}" style="margin-top: 0px; vertical-align: bottom; width: 700px"><br>
<hr>
{% endif %}

</div>

{% endblock %}