{% extends "base.html" %}
{% block content %}

<p class="please">ファイルとグラフの種類を選択して送信してください</p>
<hr>
<div class="main">
    <form action = "./" method = "POST" enctype = "multipart/form-data">
        <input type="file" name="csv" accept="csv">
        <p>グラフの種類
        <select name="kind">
            <option value="">選択してください</option>
            <option value="pairplot">pairplot</option>
            <option value="lmplot">lmplot</option>
            <option value="2plots">pairplot & lmplot</option>
        </select>
        </p>
        <input type = "submit" value="送信">
    </form>
    <form action="" method="POST"></form>

    <div class="changeWithChoice">
        <div class="incorrectChoice">
            {% if err_message_1 %}
                <hr>
                {{ err_message_1 }}
                <hr>
            {% endif %}

            {% if err_message_2 %}
                <hr>
                {{ err_message_2 }}
                <hr>
            {% endif %}
        </div>
        <div class="correctChoice">
            {% if filepath_1 %}
                <div class="csvName">
                    <hr>
                    {{ csv }}
                    <hr>
                </div>
                <div class="csv">
                    sns pairplot<br>
                    <img src="{{ filepath_1 }}" style="margin-top: 10px; vertical-align: bottom; width: 700px"><br>
                    <hr>
                </div>
            {% endif %}

            {% if filepath_2 %}
                <div class="csvName">
                    <hr>
                    {{ csv }}
                    <hr>
                </div>
                <div class="csv">
                    sns lmplot<br>
                    <img src="{{ filepath_2 }}" style="margin-top: 10px; vertical-align: bottom; width: 700px"><br>
                    <hr>
                </div>
            {% endif %}
        </div>
    </div>



</div>


{% endblock %}