{% extends "base.html" %}
{% block content %}

<div style="text-align:center;">
<font size="5">
ファイルを選択して送信してください
</font>
<hr>

<form action = "./" method = "POST" enctype = "multipart/form-data">
    <input type="file" name="csv" accept="csv">
    <input type = "submit" value="送信">
</form>

{% if filepath_1 %}
<hr>
<font size="3">{{ csv }}</font>

<hr>
<font size="6">sns pairplot<br></font>
<img src="{{ filepath_1 }}" style="margin-top: 10px; vertical-align: bottom; width: 400px"><br>
<font size="6">sns lmplot<br></font>
<img src="{{ filepath_2 }}" style="margin-top: 10px; vertical-align: bottom; width: 400px"><br>
<hr>
{% endif %}

</div>

{% endblock %}